{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
    {{message}}
</div>
{% endfor %}
<div class="card">
    <h5 class="card-header">Tailor Add</h5>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{form.username|as_crispy_field}}
            </div>
            <div class="mb-3">
                {{form.name|as_crispy_field}}
            </div>
            <div class="mb-3 row">
                <div class="col-lg-6">{{form.email|as_crispy_field}}</div>
                <div class="col-lg-6">{{form.phone_no|as_crispy_field}}</div>
            </div>
            <div class="mb-3">
                {{form.address|as_crispy_field}}
            </div>
            <div class="mb-3">
                {{form.password1|as_crispy_field}}
            </div>
            <div class="mb-3">
                {{form.password2|as_crispy_field}}
            </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>
</div>
{% endblock %}