{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
    {{message}}
</div>
{% endfor %}
<div class="card">
    <h5 class="card-header">Tailors</h5>
    <div class="card-body">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <form method="get" class="form-inline d-flex">
                {{tailorFilter.form|crispy}}
                  <button class="btn btn-info " style="float:right" type="submit">Search</button>
                <div class="ml-3" style="margin-left:13px"> <a class="btn btn-primary " href="{% url 'tailor_register' %}">Add</a></div>

            </form>

        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Sl No.</th>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for i in data %}
            <tr>
                <th>{{forloop.counter}}</th>
                <td>{{i.username}}</td>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.phone_no}}</td>
                <td>{{i.address}}</td>
                <td><a class="btn btn-success" href="{% url 'tailor_edit' i.id %}">Edit</a></td>
                <td><a class="btn btn-danger" href="{% url 'tailor_delete' i.id %}">Delete</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}